html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background-color: #515151;
  font-family: sans-serif
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main-content {
  flex: 1 !important; /* Empuja el footer abajo */
}

/* ---- Menu.jsx ---- */
.header{
    min-height: 15vh;
    background-image: url('./assets/maison-rouge-1814191.jpg');
    box-sizing: border-box;
    background-size:cover;
    background-position: center;   
    background-repeat: no-repeat;
    display: flex;
}

.header__overlay{
    min-height: 15vh;
    width: 100%;
    background-color: #0008;
    position: absolute;
    z-index: 1  ;
}
.header__content{
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
}
.header__title{
    margin:0;
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(184, 148, 57);
}
.nav-var{
   display: flex;
    background-color: rgb(246, 198, 76);
    justify-content: space-between ;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;
    position: sticky;
    top: 0px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.9);
}
.nav__list{
     margin:0px;
    display: flex;
    flex-wrap: wrap;
}

.nav__item {
  list-style: none; 
  display: inline-block;
}

.nav__link {
  color:black;
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    margin: 6px;
    border-radius: 20px;
    transition-property: background-color;
    transition-duration: 1s;
}

.nav__link:hover{
    background-color: #1c1b1b;
    color: rgb(246, 198, 76);
    border-radius: 20px;
}

/* ----- Footer.jsx ---- */
.footer {
  background-color: #1c1b1b;
  color: rgb(246, 198, 76);
  padding: 15px 20px;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  
}

.footer__phone {
  margin-right: 30px; /* separa el teléfono de las redes */
  color: rgb(246, 198, 76);
  text-decoration: none;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.footer__link img {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.footer__link img:hover, .footer__phone:hover {
  transform: scale(1.2);
  filter: brightness(1.3);
}

.footer__icon {
  padding: 3px 3px;
  border-radius: 10px;
}
.footer__icon-facebook {
  background-color: #1666ce;
}
.footer__icon-twitter {
  background-color: #1DA1F2;
}
.footer__icon-instagram {
  background-color: #E1306C;
}
.footer__icon-whatsapp {
  background-color: #25D366;
}

/* ---- Inicio.jsx ----*/
.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color:rgb(246, 198, 76);
  min-width: 100%;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 0px rgba(13, 13, 13, 0.8);
  margin-top: 10px;
} 
 
.card__title{
  letter-spacing: 5px;
  font-size: 40px;

}

.card__button{

  background-color: black;
  color:rgb(246, 198, 76);
  border: 2px solid rgb(0, 0, 0);
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
  width: 150px;
}

.card button:hover{
  background-color: rgb(90, 90, 90);
  border-color: rgb(90, 90, 90);
  color:rgb(255, 255, 255);
}

/*--- Categoria.jsx ---*/

.title__table {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color:rgb(246, 198, 76);
  margin-top: 10px;
  color: #1c1b1b;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}    

table{
  font-family: sans-serif;
  width: 100%;
  border-collapse: collapse;      
  margin: 0px auto 30px auto;
  overflow: hidden;
  border-top: 2px solid #515151;
}

.table__content{
  color: #f6c64c;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 1px solid #333;
  text-align: center;
}

.table__cell{
 background-color: rgb(246, 198, 76);
  color: #1c1b1b;
  padding: 12px;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
}

/* Hover sobre filas */
.table__body tr:hover td {
  background-color: #3b3b3b;
  color: white;
  transition: background-color 0.3s ease;
}

/*----- ArticulosBuscar.jsx ----- */
.form-container {
  display: flex;
  justify-content: center; 
}

.form{
   display: flex;
   flex-direction: column;
   background-color:rgb(246, 198, 76);
   width: 100%;
   margin-top: 10px;
   text-transform: uppercase;
   color: #1c1b1b;
}

.form__title{
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 900;
  letter-spacing: 10px;
  margin:0px;
  padding: 10px 20px;
}

.form__input-container{ 
  display: flex;
  justify-content: column;
  gap: 12px;
  margin: 0px;
  
}

.form__input, .form__select{
  display: flex;
  flex-direction: column; 
  width: 100%; 
  padding: 10px 20px;
  margin: 0px;
}
.form__label{
  margin:10px;
  font-weight: 600;
}

.input,
.select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #131313;
  background-color: #131313;
  color: white;

}

.form__button-container{
  display: flex;
  justify-content: flex-start; 
  padding: 15px;
  
}

.form__button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
  font-size:18px;
}

.button__buscar, .button__grabar{
  background-color: black;
  color: rgb(246, 198, 76);
  transition: all 0.3s ease;
}
.button__agregar{
  background-color: #198754;
  transition: all 0.3s ease;
}

.button__buscar:hover, .button__agregar:hover, .button__grabar:hover, .button__volver:hover {
  background-color: rgb(90, 90, 90);
  border-color: rgb(90, 90, 90);
  color:rgb(255, 255, 255);
}

/*----- ArticulosRegistrar.jsx ----- */

.form__registrar{
  background-color: rgb(246, 198, 76);
  color: #1c1b1b;

  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
  width: 700px; 
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.button__volver{
  background-color: #b02a37;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}
.alert {
  background-color: #1c1b1b;
  color: rgb(246, 198, 76);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
}

.form__input-registro{ 
  display: flex;
  justify-content: column;
  margin: 0px;
  flex-wrap: wrap;
}

fieldset{
  border: none;
  padding: 0px;
  margin: 0px;
}

/* ---- ListadoArticulos.jsx ------- */


.table__pagination-container {
  display: flex;
  justify-content: space-between; /* lo empuja a la derecha */
  align-items: center;
  padding: 5px 5px;
  background-color:  rgb(246, 198, 76); /* fondo oscuro */
  color: rgb(0, 0, 0); /* texto amarillo */
  font-family: sans-serif;
  border-top: 2px solid rgb(246, 198, 76); /* línea superior */
}

/* Texto de registros */
.table__pagination-item {
  font-size: 17px;
}

/* Select de páginas */
.table__pagination select {
  padding: 2px 8px;
  border-radius: 5px;
  border: 2px solid #000000;
  background-color: #000000;
  color: rgb(246, 198, 76);
  font-size: 14px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.table__pagination select:hover {
  background-color: rgb(90, 90, 90);
  border-color: rgb(90, 90, 90);
  color:rgb(255, 255, 255);
}

.button__form-imprimir {
  background-color: rgb(45, 114, 203);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button__form-imprimir:hover {
  background-color: rgb(90, 90, 90);
  border-color: rgb(90, 90, 90);
  color:rgb(255, 255, 255);
}

.table__content--acciones button{
  border: none;
  cursor: pointer;
  margin: 0 5px;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  border: 2px solid rgb(44, 44, 44);
}

.icon {
  width: 20px;
  height: 20px;
}

.button__form-consultar{
  background-color: rgba(52, 152, 219, 0.941);
}
.button__form-consultar:hover {
  background-color: rgba(123, 178, 214, 0.941);
}

.button__form-modificar {
  background-color: rgba(240, 153, 13, 0.929);
}
.button__form-modificar:hover {
  background-color: rgba(237, 177, 80, 0.929);
}

.button__form-activar {
   background-color: rgb(23, 171, 48);
}
.button__form-activar:hover {
   background-color: rgb(39, 174, 95);
}
.button__form-desactivar {
  background-color: rgb(204, 24, 24);
}
.button__form-desactivar:hover {
  background-color: rgb(196, 75, 75);
}





